*.gmo
*.la
*.lo
pidgin/plugins/perl
pidgin/plugins/
Makefile
*.o
libpurple/plugins/
Doxyfile
config.h
config.log
config.status
doc/finch.1
doc/pidgin.1
finch/.deps/
finch/.libs/
finch/finch
finch/finch.pc
finch/libgnt/.deps/
finch/libgnt/.libs/
finch/libgnt/gnt.pc
finch/libgnt/wms/.deps/
finch/libgnt/wms/.libs/
finch/plugins/.deps/
finch/plugins/.libs/
libpurple/.deps/
libpurple/.libs/
libpurple/ciphers/.deps/
libpurple/ciphers/.libs/
libpurple/data/gconf/purple.schemas
libpurple/data/purple-2-uninstalled.pc
libpurple/data/purple-2.pc
libpurple/data/purple-uninstalled.pc
libpurple/data/purple.pc
libpurple/dbus-bindings.c
libpurple/dbus-signals.c
libpurple/dbus-types.c
libpurple/example/.deps/
libpurple/example/.libs/
libpurple/example/nullclient
libpurple/protocols/bonjour/.deps/
libpurple/protocols/bonjour/.libs/
libpurple/protocols/gg/.deps/
libpurple/protocols/gg/.libs/
libpurple/protocols/irc/.deps/
libpurple/protocols/irc/.libs/
libpurple/protocols/jabber/.deps/
libpurple/protocols/jabber/.libs/
libpurple/protocols/msn/.deps/
libpurple/protocols/msn/.libs/
libpurple/protocols/mxit/.deps/
libpurple/protocols/mxit/.libs/
libpurple/protocols/myspace/.deps/
libpurple/protocols/myspace/.libs/
libpurple/protocols/novell/.deps/
libpurple/protocols/novell/.libs/
libpurple/protocols/null/.deps/
libpurple/protocols/oscar/.deps/
libpurple/protocols/oscar/.libs/
libpurple/protocols/sametime/.deps/
libpurple/protocols/silc/.deps/
libpurple/protocols/silc10/.deps/
libpurple/protocols/simple/.deps/
libpurple/protocols/simple/.libs/
libpurple/protocols/yahoo/.deps/
libpurple/protocols/yahoo/.libs/
libpurple/protocols/zephyr/.deps/
libpurple/protocols/zephyr/.libs/
libpurple/purple-client-bindings.c
libpurple/purple-client-bindings.h
libpurple/purple-client-example
libpurple/tests/.deps/
libtool
pidgin.apspec
pidgin/.deps/
pidgin/.libs/
pidgin/data/pidgin-2-uninstalled.pc
pidgin/data/pidgin-2.pc
pidgin/data/pidgin-uninstalled.pc
pidgin/data/pidgin.appdata.xml
pidgin/data/pidgin.desktop
pidgin/data/pidgin.pc
pidgin/pidgin
po/.intltool-merge-cache
po/Makefile.in
po/POTFILES
po/stamp-it
stamp-h1

VERSION
